---
import BaseLayout from "../layouts/BaseLayout.astro";

import HeroAnimation from "../components/HeroAnimation.jsx";
import IdeaAnimation from "../components/IdeaAnimation.jsx"

import twitterIcon from "../images/icons/twitter.svg";
import linkedinIcon from "../images/icons/linkedin.svg";

import TestimonyCard from "../components/TestimonyCard.jsx";
import PortfolioGrid from "../components/PortfolioGrid.jsx";
import AnnotatedContact from "../components/AnnotatedContact.jsx";
import AboutSection from "../components/AboutSection.jsx";

import "../styles/global.css";
---

<BaseLayout>
	<section class="max-h-screen">
		<h1 class="text-3xl md:text-5xl font-bold">Hi, I'm Simon.</h1>
		<!-- <div id="hero-animation" /> -->
		<div class="flex justify-center pt-6">
			<!-- <img src={manWorking} alt="Man working" class="w-80 h-auto" /> -->
			<HeroAnimation client:load />
		</div>
		<p class="py-6 text-lg">I build zero-to-one digital products</p>
		<div class="flex ml-4 md:ml-0 space-x-2 md:space-x-10">
			<a href="/#services">
				<div class="orange-button px-4 py-2 accent block">
					Services
				</div>
			</a>
			<a href="/#clients">
				<div class="bg-green px-4 py-2 accent block">
					Portfolio
				</div>
			</a>
			<a href="/#contact">
				<div class="purple-button px-4 py-2 accent block">
					Contact
				</div>
			</a>
		</div>
		<div class="flex text-xl pt-4 justify-center space-x-4 ">
			<a href="https://www.linkedin.com/in/simondunkelman/">
				<img src={linkedinIcon} alt="Twitter" class="h-6 opacity-25 hover:opacity-100" />
			</a>
		</div>
	</section>
	<section class="flex flex-col pt-20 space-y-6 w-full" id="services">
		<h2 class="text-4xl font-bold">From idea to product</h2>
		<p class="text-lg">I specialise in rapidly developing ideas into products & startups.</p>
		<div class="flex flex-col md:flex-row w-full justify-center items-top">
			<div class="flex flex-col justify-evenly w-full md:w-2/5 text-left text-lg">
				<p class="whitespace-no-wrap">Add value to your project across the full product lifecycle.</p>
				<div>
					<p class="py-2 md:py-0">Services include:</p>
					<ul class="services">
						<li>Brand Strategy</li>
						<li>UI/UX Design</li>
						<li>Web, Mobile & Desktop App Development</li>
						<li>Agentic LLM Systems</li>
						<li>ETL pipeline data engineering</li>
					</ul>
				</div>
			</div>
			<div class="flex justify-center pt-6 w-full md:w-1/3">
				<IdeaAnimation client:load />
			</div>
		</div>
	</section>
	<section class="pt-16 flex flex-col space-y-4 w-full" id="about">
		<h2 class="text-4xl font-bold">About Me</h2>
		<p class="text-xl py-2">Product minded engineer.<br/>
		Background in startup & science.</p>
		<AboutSection />
		<p class="text-lg pt-6">Interests: NLP, Generative AI, NFTs, Ethereum <br/>
		Hobbies: Rowing & Painting</p>
	</section>

	<section class="py-16 flex flex-col items-center w-full lg:w-3/4" id="clients">
		<h2 class="text-4xl font-bold pb-4">What clients are saying</h2>
		<TestimonyCard client:visible />
		<h2 class="text-4xl font-bold pt-16" id="portfolio">Portfolio</h2>
		<p class="hidden md:block">click to filter by category</p>
		<p class="md:hidden">tap to filter by category</p>
		<PortfolioGrid client:load />
	</section>

	<section class="w-full">
		<h2 class="text-4xl font-bold">Under Construction</h2>
		<p class="py-4">I&apos;m always building, either alone or collaboratively.<br/>
			These areas currently include:</p>
			<div class="flex flex-col space-y-4">
				<div class="flex flex-col md:flex-row items-center py-1">
					<div class="text-lg lg:text-2xl bold text-center md:text-right whitespace-nowrap w-full md:w-1/2">
						LLM Agents Platform
					</div>
					<div class="w-full md:w-1/3 px-6">
						<div class="progress-bar almost-complete" />
					</div>
				</div>
				<!-- <div class="flex flex-col md:flex-row items-center py-1">
					<div class="text-lg lg:text-2xl bold text-center md:text-right whitespace-nowrap w-full md:w-1/2">
						
					</div>
					<div class="w-full md:w-1/3 px-6">
						<div class="progress-bar just-started" />
					</div>
				</div>
				<div class="flex flex-col md:flex-row items-center py-1">
					<div class="text-lg lg:text-2xl bold text-center md:text-right whitespace-nowrap w-full md:w-1/2">
						Dynamic Metadata Tool
					</div>
					<div class="w-full md:w-1/3 px-6">
						<div class="progress-bar just-started" />
					</div>
				</div> -->
			</div>
	</section>

	<section class="pt-16 flex flex-col items-center w-3/4" id="contact">
		<h2 class="text-4xl font-bold">Contact</h2>
		<a class=" py-6 text-xl md:text-3xl tracking-widest whitespace-nowrap hover:text-green hover:underline hover:underline-offset-8" href="mailto:simon@dunkelman.xyz">simon@dunkelman.xyz</a>
	</section>
	<div class="flex pt-20 pb-2 space-x-6">
		<a href="#services" class="hover:text-green">Services</a>
		<a href="#about" class="hover:text-purple">About</a>
		<a href="#clients" class="hover:text-orange">Clients</a>
		<a href="#portfolio" class="hover:text-deep-blue">Portfolio</a>
	</div>
	
	<p class="text-sm pt-4 pb-2">Made by Simon Dunkelman using Astro JS 🚀, Tailwind CSS 🌪 & <a href="https://airbnb.io/lottie/#/" class="underline hover:text-purple">Lottie (AirBnB)</a></p>
</BaseLayout>