---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { Github } from "lucide";
---

<BaseLayout>
	<section class="max-h-screen font-source text-left flex flex-col space-y-6 pt-12 font-light">
		<h1 class="text-xl md:text-2xl">Simon Dunkelman</h1>
		<p>I&apos;m a founder, product builder & software engineer focused on AI.</p>
		<p>Some things about me:</p>
		<ul class="list-disc">
			<li class="ml-10">On a mission to make AI agents productive</li>
			<li class="ml-10">Entrepreneur First alumni (LD19)</li>
			<li class="ml-10">I row competitively at Furnivall Sculling Club</li>
			<li class="ml-10">Started three companies</li>
			<li class="ml-10">Undergraduate degree in Chemistry (MChem) @ University of Leicester</li>
			<li class="ml-10">MSc in Risk Management & Financial Engineering @ Imperial College</li>
            <li class="ml-10">Live in London</li>
		</ul>
		<p>Things I&apos;ve built:</p>
		<div class="w-full rounded-lg shadow-lg bg-gray-100 overflow-hidden">
            {/* Window header */}
			<div class="h-8 bg-gradient-to-b from-gray-200 to-gray-300 flex items-center px-4">
                {/* Traffic light buttons */}
				<div class="flex space-x-2">
					<div class="w-3 h-3 rounded-full bg-red-500"></div>
					<div class="w-3 h-3 rounded-full bg-yellow-500"></div>
					<div class="w-3 h-3 rounded-full bg-green-500"></div>
				</div>
                {/* Window title */}
				<div class="flex-grow text-center text-sm font-semibold text-gray-700">
                    <div class="flex space-x-2">
                        <Github class="y-4 w-4" />
                        <p>SJDunkelman</p>
                    </div>
				</div>
			</div>
            {/* Window content */}
			<div class="p-4">

			</div>
		</div>
        <p>Other experience:</p>
        <!--<div>-->
		<!--	-->
        <!--</div>-->
		<p>Beliefs I hold (as of mid 2024):</p>
        <ol class="list-decimal">
            <li class="ml-10">The future of software is amorphous and will eventually be generated at runtime</li>
            <li class="ml-10">Social graphs are becoming increasingly closed and fragment; curation is the current value transfer mechanism of the internet</li>
            <li class="ml-10">Consolidation through acquisition will be one of the largest drivers of AI adoption in traditional markets (wealth management, accounting, manufacturing etc.)</li>
        </ol>
	</section>
</BaseLayout>