---
import Layout from '../layouts/Layout.astro';
import '@/globals.css'
import { Github, Twitter } from "lucide-astro";
import EmailButton from '@/components/EmailButton.jsx';
import {Button} from '@/components/ui/button.jsx';
import ProjectsTable from '@/components/ProjectsTable.jsx';
---

<Layout title="Simon Dunkelman">
	<main class="max-w-2xl px-6 md:px-0 mx-auto font-source text-left flex flex-col space-y-6 pt-3 pb-20 font-light">
        <header class="w-full flex items-center justify-end space-x-2">
			<EmailButton client:load />
			<a href="https://github.com/SJDunkelman" target="_blank" rel="noopener noreferrer">
                <Button variant="outline" size="icon">
                    <Github className="w-4 h-4 text-black" />
                </Button>
            </a>
			<a href="https://x.com/latent_sculptor" target="_blank" rel="noopener noreferrer">
                <Button variant="outline" size="icon">
                    <Twitter className="w-4 h-4 text-black" />
                </Button>
            </a>
        </header>
		<h1 class="text-xl md:text-2xl">Simon Dunkelman</h1>
		<p>I&apos;m a founder, product builder & software engineer focused on AI.</p>
		<p>Some things about me:</p>
		<ul class="list-disc">
            <li class="ml-10">On a mission to make <a href="/ai-agents" class="hover:underline text-blue-500">AI agents productive</a></li>
			<li class="ml-10">Currently building agentic systems in Wealth Managment as CTO of August Group</li>
			<li class="ml-10">Entrepreneur First alumni (LD19)</li>
            <li class="ml-10"><a href="/wealth-sherpa" class="hover:underline text-blue-500">Started</a> <a href="/health-potion" class="hover:underline text-blue-500">three</a> <a href="/smth-ai" class="hover:underline text-blue-500">companies</a></li>
			<li class="ml-10">MSc in Risk Management & Financial Engineering @ Imperial College</li>
			<li class="ml-10">Undergraduate in Chemistry (MChem) focused on computational chemistry</li>
			<li class="ml-10">I row competitively at Furnivall Sculling Club</li>
			<li class="ml-10">Live in London</li>
		</ul>
		<p>Things I&apos;ve built:</p>
		<div class="w-full rounded-lg shadow-lg bg-gray-100 overflow-hidden">
            {/* Window header */}
			<div class="relative w-full h-8 bg-gradient-to-b from-gray-200 to-gray-300 flex items-center px-4">
                {/* Traffic light buttons */}
				<div class="flex space-x-2">
					<div class="w-3 h-3 rounded-full bg-red-500"></div>
					<div class="w-3 h-3 rounded-full bg-yellow-500"></div>
					<div class="w-3 h-3 rounded-full bg-green-500"></div>
				</div>
                {/* Window title */}
				<div class="absolute -translate-x-1/2 left-1/2 text-center text-sm font-semibold text-gray-700">
                    <p>Startups & Products</p>
				</div>
			</div>
			<div class="p-4">
                <ProjectsTable client:visible />
			</div>
		</div>
		<p>Other experience:</p>
        <ul class="list-disc">
            <li class="ml-10">CTO @ August Group <span class="text-sm text-slate-700">[2024-]</span></li>
            <ul class="list-disc">
                <li class="ml-16">August Group is an investment fund consolidating UK wealth management firms with £280 million AUM</li>
                <li class="ml-16">I lead the tech subsidiary Overmind, our AI platform for both internal and external advice firms</li>
                <li class="ml-16">I also oversee the technology strategy for our portfolio companies</li>
            </ul>
            <li class="ml-10 mt-3">Full-Stack SWE Contractor <span class="text-sm text-slate-700">[2021-2022]</span></li>
			<ul class="list-disc">
				<li class="ml-16">Developed a market maker trading system including microservices API and desktop app for the treasury of a crypto token to reduce the bid-ask spread</li>
                <li class="ml-16">Developed ETL pipeline for scraping and analysing marketplace data to trade price inefficiencies</li>
                <li class="ml-16">Refactored an AWS S3, Lambda function, API Gateway & SQS data pipeline for production for med-tech application</li>
            </ul>
			<li class="ml-10 mt-3">Research Assistant @ Imperial College <span class="text-sm text-slate-700">[2020]</span></li>
            <ul class="list-disc">
                <li class="ml-16">Implemented Deep Learning NLP models as proof-of-concept for Google Deepmind Word2Vec research; improved computational efficiency using negative sampling techniques</li>
            </ul>
			<li class="ml-10 mt-3">Analyst @ St James Place <span class="text-sm text-slate-700">[2018-2020]</span></li>
			<ul class="list-disc">
				<li class="ml-16">Developed VBA Excel analysis tools for client portfolio rebalancing, prepared research summaries and market reports for clients</li>
			</ul>
        </ul>
		<p>Beliefs I hold (as of mid 2024):</p>
		<ol class="list-decimal">
			<li class="ml-10">The <a href="/future-is-amorphous" class="hover:underline text-blue-500">future of software is amorphous</a> and will eventually be generated at runtime</li>
            <li class="ml-10">Social graphs are becoming increasingly closed and fragment; <a href="/curation-is-value" class="hover:underline text-blue-500">curation is the current value transfer mechanism</a> of the internet</li>
			<li class="ml-10">Consolidation through acquisition will be one of the largest drivers of AI adoption in traditional markets (wealth management, accounting, manufacturing etc.)</li>
		</ol>
	</main>
</Layout>